/*
 |----------------------
 | @since 1.0.0
 |----------------------
 */

*,
::after,
::before {
    box-sizing : border-box;
}

/* ========== Responsive Mode START ========== */
@media only screen and (min-width : 1365px) {
    /* Styles goes here... */
}

@media only screen and (min-width : 1024px) {

    /* Start - @since 1.4.0 */
    div.tbi__likes-dislikes,
    ul.tbi__likes-dislikes__box,
    li.tbi__likes-dislikes__item {
        display         : flex;
        align-items     : center;
        justify-content : flex-start;
    }

    div.tbi__likes-dislikes {
        gap : 20px;
    }

    ul.tbi__likes-dislikes__box {
        list-style : none;
        padding    : 0;
        gap        : 15px;
    }

    p.tbi__likes-dislikes__title {
        font-size   : large;
        font-weight : 500;
    }

    li.tbi__likes-dislikes__item {
        gap : 5px;
    }

    a#tbi__like_book {
        width               : 24px;
        height              : 24px;
        background-position : inherit;
        background-size     : contain;
        background-repeat   : no-repeat;
        background-image    : url("../images/thumbsup.svg");
    }

    a#tbi__dislike_book {
        width               : 24px;
        height              : 24px;
        background-position : inherit;
        background-size     : contain;
        background-repeat   : no-repeat;
        background-image    : url("../images/thumbsdown.svg");
    }

    /* Start - @since 1.4.1 */
    div.tbi__book-likes,
    div.tbi__book-likes__box {
        gap     : 5px;
        display : flex;
    }

    div.tbi__book-likes {
        align-items : center;
        color       : #636363;
    }

    span.tbi__book-likes__title,
    span.tbi__book_likes__count {
        font-weight : 400;
        font-size   : 14px;
    }

    div.tbi__book-likes__box::before {
        width   : 16px;
        height  : 16px;
        content : url("../images/heart.svg");
    }
}

@media only screen and (min-width : 925px) {
    /* Styles goes here... */
}

@media only screen and (min-width : 834px) {
    /* Styles goes here... */
}

@media only screen and (min-width : 768px) {
    /* Styles goes here... */
}

@media only screen and (min-width : 576px) {
    /* Styles goes here... */
}
